@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Salsa", cursive;
}

body {
  background-color: white;
}

.divide img {
  width: 100%;
  height: 100%;
  width: 100%; /* Or specific width as needed */
  transform-origin: right center;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  transition: -webkit-clip-path 0.8s ease-out;
  transition: clip-path 0.8s ease-out;
  transition: clip-path 0.8s ease-out, -webkit-clip-path 0.8s ease-out;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
main nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 64px;
  padding: 6px 12px;
  background-color: #FFC529;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main nav .logo {
  flex: 1;
  cursor: pointer;
}
main nav ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
main nav ul li {
  list-style: none;
  margin: 0 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
main nav ul li a {
  display: block;
  padding: 20px 25px;
  color: #272D2F;
  text-decoration: none;
  text-align: center;
}
main nav ul li a img {
  width: 15px;
  height: 15px;
}
main nav ul li:hover {
  color: #3d4549;
}
main nav .dropdown-buttons {
  flex: 1;
}
main nav .dropdown-buttons ul {
  display: flex;
  justify-content: end;
}
main nav .dropdown-buttons ul li {
  list-style: none;
  margin: 0 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
main nav .dropdown-buttons ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
}
main nav .dropdown-buttons ul li :hover {
  background: #ecb827;
}
main nav .dropdown-buttons ul li .dropdown {
  width: 100%;
  background: #FFC529;
  position: absolute;
  z-index: 999;
  display: none;
}
main nav .dropdown-buttons ul li .dropdown li {
  width: 100%;
  display: block;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}
main nav .dropdown-buttons ul li .dropdown li span img {
  width: 15px;
  height: 15px;
}
main nav .dropdown-buttons ul :hover .dropdown {
  display: block;
}
main header {
  width: 100%;
  height: 100vh;
  padding-top: 64px;
  display: flex;
}
main header .text-container {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 72px;
  gap: 25px;
}
main header .text-container h1 {
  color: #FE724C;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 74px;
}
main header .text-container p {
  color: #FE724C;
  font-size: 1.2rem;
}
main header .text-container button {
  width: 150px;
  height: 56px;
  font-size: 1rem;
  color: #eaeaea;
  background-color: #272D2F;
  cursor: pointer;
  border-radius: 30px;
}
main header .text-container button:hover {
  background-color: #3d4549;
}
main header .img-container {
  background-color: #eaeaea;
  width: 65%;
  height: 100%;
  background: url("bg-imgs/miggang-vtuber.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .overview {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .overview .cards-container {
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 20px 40px;
}
main .overview .cards-container .card-img {
  overflow: hidden;
}
main .overview .cards-container .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
main .overview .cards-container .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding: 48px 32px 32px;
  box-shadow: 0 8px 0 -6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #FE724C;
}
main .overview .cards-container .card h3 {
  text-align: right;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 1.5rem;
  line-height: 110%;
  color: white;
}
main .overview .cards-container .card .content {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}
main .overview .cards-container .card .content h1 {
  text-align: right;
  z-index: 1;
  color: #272D2F;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 110%;
  position: relative;
  color: white;
}
main .overview .cards-container .card .content .seperator {
  background-color: white;
  width: 100%;
  height: 1px;
}
main .overview .cards-container .card .content p {
  text-align: right;
  color: white;
}
main .features {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #FE724C;
}
main .features h1 {
  display: none;
}
main .features .features-container {
  background: url("bg-imgs/features bg.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
main .features .features-container .left {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .features .features-container .left .feature {
  flex: 1;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .features .features-container .phone-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .features .features-container .phone-container img {
  width: 65%;
  height: auto;
}
main .features .features-container .right {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .features .features-container .right .feature {
  flex: 1;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .download {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE724C;
}
main .download .download-container {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .download .download-container .text-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  color: white;
}
main .download .download-container .text-section h1 {
  font-size: 2.75rem;
}
main .download .download-container .text-section p span {
  font-weight: bold;
}
main .download .download-container .text-section button {
  width: 160px;
  height: 50px;
  background-color: #272D2F;
  color: #eaeaea;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
main .download .download-container .text-section button:hover {
  background-color: #3d4549;
  cursor: pointer;
}
main .download .download-container .phone-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
main .download .download-container .phone-section .back-phone {
  position: absolute;
  z-index: 1;
  width: 75%;
  height: auto;
  transform: scale(1.05);
}
main .download .download-container .phone-section img {
  z-index: 2;
  width: 50%;
  height: auto;
  position: relative;
}
main .contacts {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("bg-imgs/contact bg.png");
  background-position: right;
  background-size: cover;
}
main .contacts .contact-container {
  width: 80%;
}
main .contacts .contact-container .contact-header {
  color: white;
}
main .contacts .contact-container .contact-header h1 {
  font-size: 3rem;
}
main .contacts .contact-container .contact-header p {
  margin-top: 30px;
  font-size: 1rem;
}
main .contacts .contact-container .contact-entry-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFC529;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
main .contacts .contact-container .contact-entry-box input {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f8f8f8;
  outline: none;
  width: 100%;
}
main .contacts .contact-container .contact-entry-box button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #FE724C;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main .contacts .contact-container .contact-entry-box button:hover {
  background-color: #FFC529;
  color: black;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 45vh;
  background-color: #FFC529;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  height: 100%;
  width: 80%;
}
footer .footer-container .footer-sections {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}
footer .footer-container .footer-sections .footer-section-1 {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
  height: 100%;
  border-bottom: #272D2F solid 3px;
}
footer .footer-container .footer-sections .footer-section-1 .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .footer-container .footer-sections .footer-section-1 .logo img {
  width: 35%;
  height: auto;
  margin: 20px 0px;
}
footer .footer-container .footer-sections .footer-section-1 .contact-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-container .footer-sections .footer-section-1 .contact-buttons div {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
footer .footer-container .footer-sections .footer-section-1 .contact-buttons div h4 {
  padding-bottom: 25px;
}
footer .footer-container .footer-sections .footer-section-1 .contact-buttons div p {
  transition: all ease 0.5s;
}
footer .footer-container .footer-sections .footer-section-1 .contact-buttons div p:hover {
  color: #eaeaea;
  cursor: pointer;
}
footer .footer-container .footer-sections .footer-section-1 .socials {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}
footer .footer-container .footer-sections .footer-section-1 .socials .follow-us {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer .footer-container .footer-sections .footer-section-1 .socials .follow-us .socials-icons {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
footer .footer-container .footer-sections .footer-section-1 .socials .follow-us .socials-icons svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
footer .footer-container .footer-sections .footer-section-1 .socials .follow-us .socials-icons :hover {
  fill: #eaeaea;
}
footer .footer-container .footer-sections .footer-section-1 .socials .download-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
footer .footer-container .footer-sections .footer-section-1 .socials .download-footer .download-buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
}
footer .footer-container .footer-sections .footer-section-1 .socials .download-footer .download-buttons img {
  width: 144px;
  height: 43px;
  border-radius: 10px;
  cursor: pointer;
}
footer .footer-container .footer-sections .footer-section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-container .footer-sections .footer-section-2 .payment-options {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
footer .footer-container .footer-sections .footer-section-2 .payment-options div {
  width: 45px;
  height: 30px;
  background-color: #eaeaea;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-sections .footer-section-2 .payment-options div img {
  width: 80%;
  height: auto;
}/*# sourceMappingURL=main.css.map */