// imports
@import "variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



// Main Website
main {
    // Navigation
    nav {
        width: 100%;
        height: 64px;
        padding: 6px 12px;
        background-color: $primary-color;

        // display
        display: flex;
        align-items: center;
        justify-content: space-between;


        // Logo
        .logo {

            cursor: pointer;
        }

        // Nav Buttons
        ul {

            // display
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;
                margin: 0 15px; //spaces between each nav button
                
                cursor: pointer;

                display: inline-block;
                position: relative;

                // the dropdown stuff
                a {
                    display: block;
                    padding: 20px 25px;
                    color: blue;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }


        // language and region dropdown buttons
        .dropdown-buttons {
            ul {
                // display
                display: flex;  
                justify-content: end;  
                li {
                    list-style: none;
                    margin: 0 15px; //spaces between each nav button
                    
                    cursor: pointer;
    
                    display: inline-block;
                    position: relative;
    
                    // the dropdown stuff
                    a {
                        display: block;
                        text-decoration: none;
                        text-align: center;
                    }:hover {
                        background: $primary-color;
                    }

                    .dropdown {
                        width: 100%;
                        background: $primary-color;
                        position: absolute;
                        z-index: 999;
                        display: none;

                        li {
                            display: block;
                            padding: 20px 0;
                        }
                    }
                }:hover {
                    .dropdown {
                        display: block;  
                    }
                }
            }
    
        }
    }

}